/* colour scheme

#0D0630   dark blue
#4A5759   moss green
#DEDBD2   beige
#B0C4B1   light khaki
---------------------*/

html{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

h1{
  font-size: 20px;
  font-weight: 600;
}

h2{
  font-size: 15px;
  font-weight: 200;
}

h3{
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

p{
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

body{
margin:0;
}

/* Nav bar
---------------------*/

.header {
  text-decoration: none;
  color: black;
  overflow: hidden;
  background-color: white;
  width: 100%;
  margin-top: 10px;
}

ul{
  list-style: none;
  margin-top:8px;
}

a{
  padding: 5px 10px;
}

li{
  text-decoration: none;
  float:right;
  padding: 0 10px 10px 10px;
  font-size: 15px;
  font-weight: 300;
}


.header a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
  border-radius: 2px;
  text-decoration: line-through;
}

.header a.current {
  color: #4A5759;
}


/* Logo
---------------------*/

.logo{
  margin-left: 20px;
  float: left;
  height: 70px;
  width: auto;
}

/* Gallery
---------------------*/

.slideshow-container{
  padding: 30px 0;
  max-width: 100%;
  position: relative;
  margin: auto;
  animation-delay: 0s;
}

.ceramics {display: none;}
img {vertical-align: middle;}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.menu-dots{
  text-align: center;
  padding-bottom: 50px;
}

.active {
  background-color: #DEDBD2;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

@keyframes fade {
  0% {opacity: .6}
  50% {opacity: 1}
  100% {opacity: 1}
}

.mobile{
  display:none;
}

	/** footer */
  .social-media{
    width: 25px;
    height: auto;
    text-align: center;
  }

footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Portfolio
---------------------*/
.gallery{
margin: 50px 0;
}

.gallery-img{
  width:40%;
}

.gallery-item{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/** about */

.about {
  margin: 30px 80px;
  max-width: 100%;
}

.about_image {
  float: left;
  max-width: 300px;
  margin: 50px;
}

.about_text{
  padding-top: 30px;
}

.about_text p{
  display: inline;
}

.column {
  max-width: 50%;
  height: auto;
}

.block{
  display: inline-block;
}

/** contact */

.contact {
  text-align: center;
}

.contact-form {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
  background-color: #DEDBD2 ;
  border-radius: 20px;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
  width:55%;
}

.contact-form-small {
  text-align: center;
  margin-bottom: 80px;
  background-color: #DEDBD2 ;
  border-radius: 20px;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  width:300px;
}

.form-control {
    display: block;
    width: 70%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1.5px solid #4A5759;
    border-radius: .25rem;
    margin:1rem auto 2rem auto;
}


.contact-header{
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.contact-intro{
  margin-left: auto;
  margin-right: auto;
}


.btn{
  padding:12px;
  border-radius: 20px;
  border: 2px solid #4A5759;
  font-size: 14px;
  color: #fff;
  background-color: #4A5759;
}




@media only screen and (max-device-width: 480px){

  .logo{
    margin: 30px 25%;
    height: 200px;
    width: auto;
  }

  .header{
    text-align: center;
  }

  ul{
    flex-direction: column;
    margin-top: 250px;
}

  li{
    margin: 0;
    float:none;
    font-size: 20px;
}

.logo {
    margin: 0 25%;
    height: 200px;
    width: auto;
}

.slideshow-container{
display: none;
}

.mobile{
  display: block;
}

.mobile img{
  display: block;
  margin: 20px 0;
}

.gallery-img{
  width:90%;
}

footer{
  margin-bottom: 50px;
}

.block{
  margin: 10px;
}

.about_image{
  float: none;
  max-width: 90%;
}

.about{
  margin: 90px;
  text-align: center;
}

.about h1{
  text-align: center;
}

.contact-form{
  width:80%;
}

.form-control{
  width: 80%;
  line-height: 3;
}

}
